@using React.AspNet
@using React.RenderFunctions
@using React.Router
@model MyStore.Dto.Support.ChatModel
@{
    ViewData["Title"] = "Chat";
}

<div class="text-center">
    <h1 class="display-4">Chat</h1>
</div>

@Html.React("Components.Chat", Model)
@{

}