@using React.AspNet
@using React.RenderFunctions
@using React.Router
@model MyStore.Dto.Support.TicketsModel
@{
    ViewData["Title"] = "Chats";
}

<div class="text-center">
    <h1 class="display-4">Chat</h1>
</div>

@Html.React("Components.Chats", Model)
@{

}