source https://api.nuget.org/v3/index.json
storage: none

framework: netcore5.0

nuget FSharp.Core
nuget Saturn
nuget Npgsql
nuget Dapper


// [ FAKE GROUP ]
group Build
  source https://api.nuget.org/v3/index.json
  storage: none

  framework: netstandard2.0

  nuget Fake.Core.Target
  nuget Fake.IO.FileSystem
  nuget Fake.DotNet.Cli
